.form{
    /* display: block;
    justify-content: center;
    align-items: center; */
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25);
    width: 500px;
    height: 1000px;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.custom-input-focus{
    border-color: orange;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25);
}
#addLeave{
    padding-left: 50px;
    padding-right: 50px;
    /* margin-left: 80px;
    margin-right: 80px; */

}
.selection{
    width: 400px;
    height: 40px;
    border-radius: 5px;
}
.goat{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color:coral;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px coral;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

