:root{
    --primary: #fa9332 !important;
    --light: #fea116 !important;
}
.custom-section-padding {
    padding-left: 80px !important;
    padding-right: 80px !important;
}
.custom-input-focus {
border-color: orange !important; /* Change to your desired shade of orange */
box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25) !important; /* Add a subtle shadow for focus */
}
